{
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "trailingComma": "none",
    "trailingCommaPHP": false,
    "phpVersion": "8.3",
    "arrowParens": "avoid",
    "plugins": ["@prettier/plugin-php"]
}
