<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="stringhelper.php"
    colors="true"
    verbose="true"
    stopOnFailure="false"
>
    <testsuites>
        <testsuite
            name="testsuite"
        >
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>